.edit-container {
    background-color: #d9d9d9;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 10px;
  }
  
  .edit {
    display: flex;
    justify-content: space-between;
  }
  
  .edit-details {
    display: flex;
    flex-direction: column;
  }
  
  .edit-category,
  .edit-description {
    color: #000000;
    font-weight: bold;
  }
  
  .edit-icons {
    display: flex;
    align-items: center;
  }
  
  .edit-button,
  .delete-button {
    width: 70px;
    height: 30px;
    background-color: #483c7a;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
  }
  
  .edit-button:hover,
  .delete-button:hover {
    background-color: #3a2f5c;
  }
  
  .edit-amount {
    color: red;
    font-weight: bold;
  }
  